{% extends 'admin/base.html' %}

{% block content %}

<h3>{{ capture.date_decorator }} - {{ capture.seconds }}sec - {{ capture.size }}b</h3>

<table>
    <tr><td>user</td><td># packets</td><td>protocol</td><td>tcp port</td><td>destination</td></tr>
    {% for con in connection_list %}
        <tr>
            {% for info in con %}
                <td>{{ info|safe }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>


{% if capture_table %}
    <table>
        <tr><td>#</td><td>time</td><td>src</td><td>dst</td></tr>
        {% for cap in capture_table %}
            <tr>
                <td>{{ cap.0 }}</td>
                <td>{{ cap.1 }}</td>
                <td>{{ cap.2 }}</td>
                <td>{{ cap.3 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}